<div class="container">
  <!-- <app-roommates-list></app-roommates-list>
  <app-tasks></app-tasks> -->
  <nav class="navbar is-black" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <p>ROOM.MATES</p>
    </div>
    <div class="navbar-start">
      <a class="navbar-item" routerLink="/main/roommate">
        Roommates
      </a>
      <a class="navbar-item" routerLink="/main/tasks">
        Tasks
      </a>
      <a class="navbar-item" routerLink="/main/addnew">
        Add New Task
      </a>
      <a class="navbar-item" routerLink="/main/addroommate">
        Add New Roommate
      </a>
    </div>
  </nav>

<div class="smaller-container">
  <router-outlet></router-outlet>
</div>
  
</div>