.container {
  width: 80vw;
  height: 100vh;
}
.smaller-container {
  display: flex;
  flex-direction: column;
  // align-items: center;
  // justify-content: center;
}

.navbar {
  padding-left: 20px;
  font-family: "Nunito", sans-serif;
}
.navbar-item {
  margin-left: 20px;
}
.navbar-brand {
  align-items: center;
  margin-right: 10px;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
}
